<% content_for :head do %>
  <%= javascript_include_tag "login" %>
<% end %>

<%= image_tag "seema.png", :srcset => image_path("seema.png"), :alt => t("layouts.logo.alt_text"), :class => "logo seema-logo" %>

<div id="login_login">

  <%= bootstrap_form_tag(:action => "login", :html => { :id => "login_form" }) do |f| %>
    <%= hidden_field_tag("referer", h(params[:referer]), :autocomplete => "off") %>

    <%= f.text_field :username, :label => t(".email or username"), :tabindex => 1, :value => params[:username] %>
    <%= f.password_field :password, :label => t(".password"), :tabindex => 2, :value => "" %>
    <%= f.form_group do %>
      <%= f.check_box :remember_me, { :label => t(".remember"), :tabindex => 3, :checked => (params[:remember_me] == "yes")  }, "yes" %>
    <% end %>

    <%= f.primary t(".login_button"), :tabindex => 4, :class => "seema__button-login" %>
  <% end %>

</div>

<div id="login__links" class="text-muted text-center">
  <%= link_to t(".lost password link"), :controller => "passwords", :action => "lost_password" %>
</div>
