<%= tag.div :lang => @locale, :dir => t("html.dir", :locale => @locale) do %>
  <div class="container-lg attr">
    <div class='row'>
      <div class='col-sm-7 user-image'></div>
      <div class='col-sm-5 px-5 py-3 byosm'>
        <h5 class='text-white text-nowrap'><%= t ".copyright_html", :locale => @locale %></h5>
      </div>
    </div>
  </div>

  <div class='bg-light px-5 py-4'>
    <div class='section'>
      <p><strong><%= t ".lede_text", :locale => @locale %></strong></p>
      <p><%= t ".ksdi_text", :locale => @locale %></p>
    </div>
  </div>
<% end %>
