/* custom */
.seema-logo {
    display: block;
    border: 1px solid #eee;
    border-radius: 50%;
    margin: auto;
    padding: 12px;
    width: 150px;
}
.seema__content-inner {
    max-width: 400px;
    margin-top: 9%;
}
.seema__button-login {
    background: #279272;
    padding: 9px 33px;
    color: white;
    border: none;
    margin: auto;
    display: block;
    border-radius: 5px;
}
#login__links {
    margin-top: 63px;
}

/* override */
#login_login {
    margin-top: 55px;
}
#login_login input#username, #login_login input#password {
    border: none;
    border-bottom: 1px solid #ced4da;
}
#login_login label {
    color: #777;
}
#login_login input {
    margin-bottom: 27px;
}
#login_login .form-check {
    text-align: center;
}
