<%= tag.head :data => application_data do %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <%= javascript_include_tag "html5shiv/dist/html5shiv" unless browser.html5? %>
  <%= javascript_include_tag "es5" unless browser.es5? %>
  <%= javascript_include_tag "es6" unless browser.es6? %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "i18n/#{I18n.locale}" %>
  <%= stylesheet_link_tag "screen-#{dir}", :media => "screen" %>
  <%= stylesheet_link_tag "print-#{dir}", :media => "print" %>
  <%= stylesheet_link_tag "leaflet-all", :media => "screen, print" %>
  <%= stylesheet_link_tag "custom" %>
  <%= render :partial => "layouts/meta" %>
  <%= yield :head %>
  <%= yield :auto_discovery_link_tag %>
  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>
  <title><%= "#{@title} | " if @title %><%= t "layouts.project_name.title" %></title>
<% end %>
