<header class="closed clearfix">
  <h1>
    <a href="<%= root_path %>" class="geolink">
      <picture>
        <source srcset="<%= image_path "seema.png" %>" type="image/png" />
        <%= image_tag "seema.png", :srcset => image_path("seema.png"), :alt => t("layouts.logo.alt_text"), :class => "logo" %>
      </picture>
      <%= t "layouts.project_name.h1" %>
    </a>
  </h1>
  <a href="#" id="menu-icon"></a>
  <nav class='primary'>
    <%= content_for :header %>
    <div class="btn-group">
      <div id="edit_tab" class="btn-group <%= current_page_class(edit_path) %>">
        <%= link_to t("layouts.edit"),
                    edit_path,
                    :class => "btn btn-outline-primary geolink editlink",
                    :id => "editanchor",
                    :data => { :editor => preferred_editor } %>
        <a class='btn btn-outline-primary dropdown-toggle dropdown-toggle-split' data-toggle='dropdown' href='#'></a>
        <ul class='dropdown-menu'>
          <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
            <li>
              <%= link_to t("layouts.edit_with", :editor => t("editor.#{editor}.description")),
                          edit_path(:editor => editor),
                          :data => { :editor => editor },
                          :class => "geolink editlink dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= link_to t("layouts.history"), history_path, :class => "btn btn-outline-primary geolink flex-grow-1 current_page_class(history_path)", :id => "history_tab" %>
    </div>
  </nav>
  <nav class='secondary'>
    <ul class='mx-1 px-0'>
      <% if can? :index, Issue %>
        <li class="compact-hide nav-item <%= current_page_class(issues_path) %>">
          <%= link_to issues_path(:status => "open"), :class => "nav-link" do %>
            <%= t("layouts.issues") %>
            <%= open_issues_count %>
          <% end -%>
        </li>
      <% end %>
      <li class="compact-hide nav-item <%= current_page_class(traces_path) %>">
        <%= link_to t("layouts.gps_traces"), traces_path, :class => "nav-link" %>
      </li>
      <li class="compact-hide nav-item <%= current_page_class(copyright_path) %>">
        <%= link_to t("layouts.copyright"), copyright_path, :class => "nav-link" %>
      </li>
      <li class="compact-hide nav-item <%= current_page_class(help_path) %>">
        <%= link_to t("layouts.help"), help_path, :class => "nav-link" %>
      </li>
      <li class="compact-hide nav-item <%= current_page_class(about_path) %>">
        <%= link_to t("layouts.about"), about_path, :class => "nav-link" %>
      </li>
      <li id="compact-secondary-nav" class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= t "layouts.more" %></a>
        <ul class="dropdown-menu">
          <% if Settings.status != "database_offline" && can?(:index, Issue) %>
            <li class="<%= current_page_class(issues_path) %>">
              <%= link_to issues_path(:status => "open"), :class => "dropdown-item" do %>
                <%= t("layouts.issues") %>
                <%= open_issues_count %>
              <% end -%>
            </li>
          <% end %>
          <li class="<%= current_page_class(traces_path) %>"><%= link_to t("layouts.gps_traces"), traces_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(copyright_path) %>"><%= link_to t("layouts.copyright"), copyright_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(help_path) %>"><%= link_to t("layouts.help"), help_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(about_path) %>"><%= link_to t("layouts.about"), about_path, :class => "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
    <% if current_user && current_user.id %>
      <div class='d-inline-flex dropdown user-menu logged-in clearfix'>
        <a class='dropdown-toggle btn btn-outline-secondary pl-2 py-1 flex-grow-1' data-toggle='dropdown' href="#">
          <%= user_thumbnail_tiny(current_user, :width => 25, :height => 25) %>
          <%= render :partial => "layouts/inbox" %>
          <span class="user-button">
            <span class='username'>
              <%= current_user.display_name %>
            </span>
          </span>
        </a>
        <div class='dropdown-menu dropdown-menu-right'>
          <%= link_to t("users.show.my_dashboard"), dashboard_path, :class => "dropdown-item" %>
          <%= link_to inbox_messages_path, :class => "dropdown-item" do %>
            <%= t("users.show.my messages") %>
            <span class='count-number'><%= number_with_delimiter(current_user.new_messages.size) %></span>
          <% end %>
          <%= link_to t("users.show.my profile"), user_path(current_user), :class => "dropdown-item" %>
          <%= link_to t("users.show.my settings"), user_account_path(current_user), :class => "dropdown-item" %>
          <%= link_to t("users.show.my_preferences"), preferences_path, :class => "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= yield :greeting %>
          <%= link_to t("layouts.logout"), logout_path(:referer => request.fullpath), :method => "post", :class => "geolink dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div class="d-inline-flex btn-group login-menu" role="">
        <%= link_to t("layouts.log_in"), login_path(:referer => request.fullpath), :class => "geolink btn btn-outline-secondary" %>
      </ul>
    <% end %>
  </nav>
</header>
