<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= dir %>">
  <%= render :partial => "layouts/head" %>
  <body class="<%= body_class %>">
    <%= render :partial => "layouts/content_seema" %>
    <% if defined?(PIWIK) -%>
    <noscript><p><img src="<%= request.protocol %><%= PIWIK["location"] %>/piwik.php?idsite=<%= PIWIK["site"] %>" class="piwik" alt="" /></p></noscript>
    <% end -%>
  </body>
</html>
